<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <filter>
    <filter-name>countFilter</filter-name>
    <filter-class>cn.zhanguozhi.filter.CountFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>countFilter</filter-name>
    <url-pattern>/welcomePage.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>cn.zhanguozhi.listener.NumberListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>cn.zhanguozhi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>cn.zhanguozhi.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>cn.zhanguozhi.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
<!--    load-on-starup大于等于0时，web容器启动的时候进行初始化，正整数越小，初始化顺序越靠前，等于0最后-->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
